<a href="https://colab.research.google.com/github/KonstantinElfimow/advertising-campaign-analysis/blob/main/advertising_campaign_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Загружаем данные
!wget https://gist.githubusercontent.com/andron23/f0ef92f6eae15b148f703fedf21121e7/raw/27be9b20a2eb668df8535d81fc628751ed1c553b/vk.csv

--2023-08-02 13:25:28--  https://gist.githubusercontent.com/andron23/f0ef92f6eae15b148f703fedf21121e7/raw/27be9b20a2eb668df8535d81fc628751ed1c553b/vk.csv
Resolving gist.githubusercontent.com (gist.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to gist.githubusercontent.com (gist.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1047 (1.0K) [text/plain]
Saving to: ‘vk.csv.1’

vk.csv.1            100%[===================>]   1.02K  --.-KB/s    in 0s

2023-08-02 13:25:28 (41.3 MB/s) - ‘vk.csv.1’ saved [1047/1047]

# Анализ рекламной кампании

In [ ]:
!wget https://gist.githubusercontent.com/andron23/bae617f82d16691584e392136e054719/raw/468bf0879b362fabbb78ce05254b05c5943700de/inst.csv

--2023-08-02 13:25:28--  https://gist.githubusercontent.com/andron23/bae617f82d16691584e392136e054719/raw/468bf0879b362fabbb78ce05254b05c5943700de/inst.csv
Resolving gist.githubusercontent.com (gist.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to gist.githubusercontent.com (gist.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1085 (1.1K) [text/plain]
Saving to: ‘inst.csv.1’

inst.csv.1          100%[===================>]   1.06K  --.-KB/s    in 0s

2023-08-02 13:25:28 (51.0 MB/s) - ‘inst.csv.1’ saved [1085/1085]

In [ ]:
vk = pd.read_csv('vk.csv', sep=';', decimal=',')

In [ ]:
vk

          date    spent  impressions  clicks  leads  qualleads  customers
0   28.05.2023  3267.00        18084      93     27          0          0
1   29.05.2023  3615.00        22764      60     18          0          1
2   30.05.2023  1692.00         9753      27      9          3          0
3   31.05.2023  1539.00         8412      24      6          6          0
4   01.06.2023  2769.00        15633      42      6          3          0
5   02.06.2023  3630.00        18615      57     18          9          0
6   03.06.2023  4317.00        19926      69     33         18          0
7   04.06.2023  3930.00        18702      81     45          9          0
8   05.06.2023  2769.00        12303      63     24          0          0
9   06.06.2023     3.00            6       0      0          0          0
10  07.06.2023  3348.00        14508      54     27         12          0
11  08.06.2023  4140.00        13614      36     36         12          1
12  09.06.2023  3729.00        10008      45     27          3          1
13  10.06.2023  3642.00         7263      39     24          3          0
14  11.06.2023  2769.00         5580      30     24          3          0
15  12.06.2023  4247.94        13041      75     15          3          0
16  13.06.2023  4230.00        25155      51     39         24          1
17  14.06.2023  5409.00        29847      84     39         15          0
18  15.06.2023  5415.00        28833     102     27          3          0
19  16.06.2023  5850.06        21000      81     30          3          0
20  17.06.2023  6111.57        35886     114     42          9          1
21  18.06.2023  3486.51        28101      84     42         12          0
22  19.06.2023  2658.57        13131      27     12          3          0
23  20.06.2023  6256.86        36099     123     30          9          0
24  21.06.2023  6983.94        36609     108     42         18          1
25  22.06.2023  6012.09        30027     105     48         18          0
26  23.06.2023  7080.00        31791      81     24          0          0
27  24.06.2023  7171.02        41901      84     24          0          0
28  25.06.2023  7326.96        46626     120     39          0          0
29  26.06.2023  8687.04        55440     156     39          0          0

In [ ]:
vk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         30 non-null     object
 1   spent        30 non-null     float64
 2   impressions  30 non-null     int64
 3   clicks       30 non-null     int64
 4   leads        30 non-null     int64
 5   qualleads    30 non-null     int64
 6   customers    30 non-null     int64
dtypes: float64(1), int64(5), object(1)
memory usage: 1.8+ KB

In [ ]:
inst = pd.read_csv('inst.csv', sep=';', decimal=',')

In [ ]:
inst.head(1)

         date   spent  impressions  clicks  leads  qualleads  customers
0  27.05.2023  5143.2        17052     174     78          0          0

In [ ]:
vk.describe()

             spent   impressions     clicks     leads  qualleads  customers
count    30.000000     30.000000   30.00000  30.00000  30.000000  30.000000
mean   4402.852000  22288.600000   70.50000  27.20000   6.600000   0.200000
std    1976.429464  13066.744139   35.52925  12.67743   6.795536   0.406838
min       3.000000      6.000000    0.00000   0.00000   0.000000   0.000000
25%    3287.250000  13063.500000   42.75000  19.50000   0.750000   0.000000
50%    4035.000000  19314.000000   72.00000  27.00000   3.000000   0.000000
75%    5971.582500  29982.000000   90.75000  39.00000  11.250000   0.000000
max    8687.040000  55440.000000  156.00000  48.00000  24.000000   1.000000

In [ ]:
vk['placement'] = 'vk'

In [ ]:
inst['placement'] = 'inst'

In [ ]:
df = pd.concat([vk, inst]).sort_values(['date', 'placement'])

In [ ]:
df.head(2)

,date,spent,impressions,clicks,leads,qualleads,customers,placement
5,01.06.2023,12000.0,74040,426,93,30,0,inst
4,01.06.2023,2769.0,15633,42,6,3,0,vk

In [ ]:
# считаем CTR
df['ctr'] = df['clicks'] / df['impressions']

In [ ]:
df['ctr']

5     0.005754
4     0.002687
6     0.005042
5     0.003062
7     0.004488
6     0.003463
8     0.004175
7     0.004331
9     0.009801
8     0.005121
10         NaN
9     0.000000
11    0.004586
10    0.003722
12         NaN
11    0.002644
13    0.004581
12    0.004496
14    0.006269
13    0.005370
15    0.004588
14    0.005376
16    0.005339
15    0.005751
17    0.004678
16    0.002027
18    0.004531
17    0.002814
19    0.005576
18    0.003538
20    0.009536
19    0.003857
21    0.007841
20    0.003177
22    0.008205
21    0.002989
23    0.005919
22    0.002056
24    0.005866
23    0.003407
25    0.005135
24    0.002950
26    0.005058
25    0.003497
27    0.003059
26    0.002548
28    0.004398
27    0.002005
29    0.003502
28    0.002574
29    0.002814
0     0.010204
1     0.006679
0     0.005143
2     0.007078
1     0.002636
3     0.004025
2     0.002768
4     0.005806
3     0.002853
Name: ctr, dtype: float64

In [ ]:
df

,date,spent,impressions,clicks,leads,qualleads,customers,placement,ctr
5,01.06.2023,12000.00,74040,426,93,30,0,inst,0.005754
4,01.06.2023,2769.00,15633,42,6,3,0,vk,0.002687
6,02.06.2023,11572.80,68424,345,84,39,0,inst,0.005042
5,02.06.2023,3630.00,18615,57,18,9,0,vk,0.003062
7,03.06.2023,11671.20,71520,321,72,39,0,inst,0.004488
6,03.06.2023,4317.00,19926,69,33,18,0,vk,0.003463
8,04.06.2023,9456.00,65382,273,54,27,0,inst,0.004175
7,04.06.2023,3930.00,18702,81,45,9,0,vk,0.004331
9,05.06.2023,3590.40,11325,111,45,12,0,inst,0.009801
8,05.06.2023,2769.00,12303,63,24,0,0,vk,0.005121
10,06.06.2023,0.00,0,0,12,3,1,inst,NaN
9,06.06.2023,3.00,6,0,0,0,0,vk,0.000000
11,07.06.2023,8736.00,45135,207,48,3,0,inst,0.004586
10,07.06.2023,3348.00,14508,54,27,12,0,vk,0.003722
12,08.06.2023,0.00,0,0,0,0,0,inst,NaN
11,08.06.2023,4140.00,13614,36,36,12,1,vk,0.002644
13,09.06.2023,11731.20,64176,294,87,3,1,inst,0.004581
12,09.06.2023,3729.00,10008,45,27,3,1,vk,0.004496
14,10.06.2023,11587.20,50244,315,72,33,0,inst,0.006269
13,10.06.2023,3642.00,7263,39,24,3,0,vk,0.005370
15,11.06.2023,10056.00,50352,231,69,15,0,inst,0.004588
14,11.06.2023,2769.00,5580,30,24,3,0,vk,0.005376
16,12.06.2023,9758.40,55068,294,75,24,0,inst,0.005339
15,12.06.2023,4247.94,13041,75,15,3,0,vk,0.005751
17,13.06.2023,9372.00,48741,228,42,12,0,inst,0.004678
16,13.06.2023,4230.00,25155,51,39,24,1,vk,0.002027
18,14.06.2023,9381.60,46344,210,39,18,0,inst,0.004531
17,14.06.2023,5409.00,29847,84,39,15,0,vk,0.002814
19,15.06.2023,2913.60,17217,96,15,3,0,inst,0.005576
18,15.06.2023,5415.00,28833,102,27,3,0,vk,0.003538
20,16.06.2023,2232.00,7236,69,27,12,0,inst,0.009536
19,16.06.2023,5850.06,21000,81,30,3,0,vk,0.003857
21,17.06.2023,6878.40,20661,162,48,21,0,inst,0.007841
20,17.06.2023,6111.57,35886,114,42,9,1,vk,0.003177
22,18.06.2023,7329.60,24498,201,75,27,1,inst,0.008205
21,18.06.2023,3486.51,28101,84,42,12,0,vk,0.002989
23,19.06.2023,7296.00,25848,153,42,18,0,inst,0.005919
22,19.06.2023,2658.57,13131,27,12,3,0,vk,0.002056
24,20.06.2023,6837.60,27618,162,66,21,1,inst,0.005866
23,20.06.2023,6256.86,36099,123,30,9,0,vk,0.003407
25,21.06.2023,4924.80,20448,105,12,3,0,inst,0.005135
24,21.06.2023,6983.94,36609,108,42,18,1,vk,0.002950
26,22.06.2023,2894.40,10677,54,21,9,0,inst,0.005058
25,22.06.2023,6012.09,30027,105,48,18,0,vk,0.003497
27,23.06.2023,4701.60,21576,66,15,0,0,inst,0.003059
26,23.06.2023,7080.00,31791,81,24,0,0,vk,0.002548
28,24.06.2023,6338.40,27966,123,36,0,0,inst,0.004398
27,24.06.2023,7171.02,41901,84,24,0,0,vk,0.002005
29,25.06.2023,6045.60,29130,102,18,0,0,inst,0.003502
28,25.06.2023,7326.96,46626,120,39,0,0,vk,0.002574
29,26.06.2023,8687.04,55440,156,39,0,0,vk,0.002814
0,27.05.2023,5143.20,17052,174,78,0,0,inst,0.010204
1,28.05.2023,6638.40,25602,171,54,0,0,inst,0.006679
0,28.05.2023,3267.00,18084,93,27,0,0,vk,0.005143
2,29.05.2023,12000.00,59340,420,153,0,0,inst,0.007078
1,29.05.2023,3615.00,22764,60,18,0,1,vk,0.002636
3,30.05.2023,12000.00,70803,285,84,21,0,inst,0.004025
2,30.05.2023,1692.00,9753,27,9,3,0,vk,0.002768
4,31.05.2023,12000.00,59940,348,123,33,0,inst,0.005806
3,31.05.2023,1539.00,8412,24,6,6,0,vk,0.002853

In [ ]:
# считаем CR1
df['cr1'] = df['leads'] / df['clicks']

In [ ]:
df.head()

,date,spent,impressions,clicks,leads,qualleads,customers,placement,ctr,cr1
5,01.06.2023,12000.0,74040,426,93,30,0,inst,0.005754,0.218310
4,01.06.2023,2769.0,15633,42,6,3,0,vk,0.002687,0.142857
6,02.06.2023,11572.8,68424,345,84,39,0,inst,0.005042,0.243478
5,02.06.2023,3630.0,18615,57,18,9,0,vk,0.003062,0.315789
7,03.06.2023,11671.2,71520,321,72,39,0,inst,0.004488,0.224299

In [ ]:
# считаем CPL
df['cpl'] = df['spent'] / df['leads']

In [ ]:
df.head()

,date,spent,impressions,clicks,leads,qualleads,customers,placement,ctr,cr1,cpl
5,01.06.2023,12000.0,74040,426,93,30,0,inst,0.005754,0.218310,129.032258
4,01.06.2023,2769.0,15633,42,6,3,0,vk,0.002687,0.142857,461.500000
6,02.06.2023,11572.8,68424,345,84,39,0,inst,0.005042,0.243478,137.771429
5,02.06.2023,3630.0,18615,57,18,9,0,vk,0.003062,0.315789,201.666667
7,03.06.2023,11671.2,71520,321,72,39,0,inst,0.004488,0.224299,162.100000

In [ ]:
# считаем CPQL
df['cpql'] = df['spent'] / df['qualleads']

In [ ]:
df.head()

,date,spent,impressions,clicks,leads,qualleads,customers,placement,ctr,cr1,cpl,cpql
5,01.06.2023,12000.0,74040,426,93,30,0,inst,0.005754,0.218310,129.032258,400.000000
4,01.06.2023,2769.0,15633,42,6,3,0,vk,0.002687,0.142857,461.500000,923.000000
6,02.06.2023,11572.8,68424,345,84,39,0,inst,0.005042,0.243478,137.771429,296.738462
5,02.06.2023,3630.0,18615,57,18,9,0,vk,0.003062,0.315789,201.666667,403.333333
7,03.06.2023,11671.2,71520,321,72,39,0,inst,0.004488,0.224299,162.100000,299.261538

In [ ]:
# считаем CR-Q
df['cr-q'] = df['qualleads'] / df['leads']

In [ ]:
df.head()

,date,spent,impressions,clicks,leads,qualleads,customers,placement,ctr,cr1,cpl,cpql,cr-q
5,01.06.2023,12000.0,74040,426,93,30,0,inst,0.005754,0.218310,129.032258,400.000000,0.322581
4,01.06.2023,2769.0,15633,42,6,3,0,vk,0.002687,0.142857,461.500000,923.000000,0.500000
6,02.06.2023,11572.8,68424,345,84,39,0,inst,0.005042,0.243478,137.771429,296.738462,0.464286
5,02.06.2023,3630.0,18615,57,18,9,0,vk,0.003062,0.315789,201.666667,403.333333,0.500000
7,03.06.2023,11671.2,71520,321,72,39,0,inst,0.004488,0.224299,162.100000,299.261538,0.541667

In [ ]:
# считаем CPC
df['cpc'] = df['spent'] / df['clicks']

In [ ]:
df.tail(5)

,date,spent,impressions,clicks,leads,qualleads,customers,placement,ctr,cr1,cpl,cpql,cr-q,cpc
1,29.05.2023,3615.0,22764,60,18,0,1,vk,0.002636,0.300000,200.833333,inf,0.000000,60.250000
3,30.05.2023,12000.0,70803,285,84,21,0,inst,0.004025,0.294737,142.857143,571.428571,0.250000,42.105263
2,30.05.2023,1692.0,9753,27,9,3,0,vk,0.002768,0.333333,188.000000,564.000000,0.333333,62.666667
4,31.05.2023,12000.0,59940,348,123,33,0,inst,0.005806,0.353448,97.560976,363.636364,0.268293,34.482759
3,31.05.2023,1539.0,8412,24,6,6,0,vk,0.002853,0.250000,256.500000,256.500000,1.000000,64.125000

In [ ]:
# дополнительная очистка
df.replace([np.inf, -np.inf], np.nan, inplace=True)

In [ ]:
df.tail(5)

,date,spent,impressions,clicks,leads,qualleads,customers,placement,ctr,cr1,cpl,cpql,cr-q,cpc
1,29.05.2023,3615.0,22764,60,18,0,1,vk,0.002636,0.300000,200.833333,NaN,0.000000,60.250000
3,30.05.2023,12000.0,70803,285,84,21,0,inst,0.004025,0.294737,142.857143,571.428571,0.250000,42.105263
2,30.05.2023,1692.0,9753,27,9,3,0,vk,0.002768,0.333333,188.000000,564.000000,0.333333,62.666667
4,31.05.2023,12000.0,59940,348,123,33,0,inst,0.005806,0.353448,97.560976,363.636364,0.268293,34.482759
3,31.05.2023,1539.0,8412,24,6,6,0,vk,0.002853,0.250000,256.500000,256.500000,1.000000,64.125000

In [ ]:
# агрегируем
df.groupby('placement').agg({'ctr': 'mean', 'cpl': 'mean'})

                ctr         cpl
placement
inst       0.005776  157.851592
vk         0.003323  182.336182

In [ ]:
df.groupby('placement').agg({
      'clicks': ['sum','mean'],
      'impressions': ['sum','mean']
    })

          clicks        impressions
             sum   mean         sum     mean
placement
inst        5946  198.2     1116363  37212.1
vk          2115   70.5      668658  22288.6

In [ ]:
df2 = df.groupby('placement').agg({
      'clicks': [
          ('sum_clicks', 'sum'),
          ('mean_clicks', 'mean')
      ],
      'impressions': [
          ('sum_impressions', 'sum'),
          ('mean_impressions', 'mean')
      ],
      'spent': [
          ('total_spent', 'sum'),
          ('mean_spent', 'mean')
      ],
      'leads': [('cnt_leads', 'sum')],
      'qualleads': [('cnt_qual', 'sum')],
      'customers': [('cnt_customers', 'sum')]
    }).reset_index()

df2.columns = df2.columns.droplevel(0)

In [ ]:
df2

,,sum_clicks,mean_clicks,sum_impressions,mean_impressions,total_spent,mean_spent,cnt_leads,cnt_qual,cnt_customers
0,inst,5946,198.2,1116363,37212.1,225086.40,7502.880,1659,426,4
1,vk,2115,70.5,668658,22288.6,132085.56,4402.852,816,198,6

In [ ]:
df2['crq'] = df2['cnt_qual'] / df2['cnt_leads']
df2['cpql'] = df2['total_spent'] / df2['cnt_qual']
df2['cpl'] = df2['total_spent'] / df2['cnt_leads']
df2['cpc'] = df2['total_spent'] / df2['sum_clicks']
df2['cr1'] = df2['cnt_leads'] / df2['sum_clicks']

df2['cr2'] = df2['cnt_customers'] / df2['cnt_leads']
df2['cac'] = df2['total_spent'] / df2['cnt_customers']

In [ ]:
df2

,,sum_clicks,mean_clicks,sum_impressions,mean_impressions,total_spent,mean_spent,cnt_leads,cnt_qual,cnt_customers,crq,cpql,cpl,cpc,cr1,cr2,cac
0,inst,5946,198.2,1116363,37212.1,225086.40,7502.880,1659,426,4,0.256781,528.371831,135.675949,37.855096,0.279011,0.002411,56271.60
1,vk,2115,70.5,668658,22288.6,132085.56,4402.852,816,198,6,0.242647,667.098788,161.869559,62.451801,0.385816,0.007353,22014.26

In [ ]:
!wget https://gist.githubusercontent.com/andron23/57efe40e7ef578d01c2f48497eea29bf/raw/d89cd282d0c6350246799db6b402d3391541d0a1/sales.csv

--2023-08-02 13:25:29--  https://gist.githubusercontent.com/andron23/57efe40e7ef578d01c2f48497eea29bf/raw/d89cd282d0c6350246799db6b402d3391541d0a1/sales.csv
Resolving gist.githubusercontent.com (gist.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to gist.githubusercontent.com (gist.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 225 [text/plain]
Saving to: ‘sales.csv’

sales.csv           100%[===================>]     225  --.-KB/s    in 0s

2023-08-02 13:25:30 (5.16 MB/s) - ‘sales.csv’ saved [225/225]

In [ ]:
sales = pd.read_csv('sales.csv', sep=';', decimal='.')

In [ ]:
sales

         date placement   rubs
0  06.06.2023      inst  95600
1  09.06.2023      inst  34300
2  18.06.2023      inst  59000
3  20.06.2023      inst  19400
4  29.05.2023        vk  35200
5  08.06.2023        vk  35200
6  09.06.2023        vk   9450
7  13.06.2023        vk   9450
8  17.06.2023        vk  14500
9  21.06.2023        vk  14500

In [ ]:
df = df.merge(sales, left_on=['date', 'placement'], right_on=['date', 'placement'], how='outer')

In [ ]:
df

,date,spent,impressions,clicks,leads,qualleads,customers,placement,ctr,cr1,cpl,cpql,cr-q,cpc,rubs
0,01.06.2023,12000.00,74040,426,93,30,0,inst,0.005754,0.218310,129.032258,400.000000,0.322581,28.169014,NaN
1,01.06.2023,2769.00,15633,42,6,3,0,vk,0.002687,0.142857,461.500000,923.000000,0.500000,65.928571,NaN
2,02.06.2023,11572.80,68424,345,84,39,0,inst,0.005042,0.243478,137.771429,296.738462,0.464286,33.544348,NaN
3,02.06.2023,3630.00,18615,57,18,9,0,vk,0.003062,0.315789,201.666667,403.333333,0.500000,63.684211,NaN
4,03.06.2023,11671.20,71520,321,72,39,0,inst,0.004488,0.224299,162.100000,299.261538,0.541667,36.358879,NaN
5,03.06.2023,4317.00,19926,69,33,18,0,vk,0.003463,0.478261,130.818182,239.833333,0.545455,62.565217,NaN
6,04.06.2023,9456.00,65382,273,54,27,0,inst,0.004175,0.197802,175.111111,350.222222,0.500000,34.637363,NaN
7,04.06.2023,3930.00,18702,81,45,9,0,vk,0.004331,0.555556,87.333333,436.666667,0.200000,48.518519,NaN
8,05.06.2023,3590.40,11325,111,45,12,0,inst,0.009801,0.405405,79.786667,299.200000,0.266667,32.345946,NaN
9,05.06.2023,2769.00,12303,63,24,0,0,vk,0.005121,0.380952,115.375000,NaN,0.000000,43.952381,NaN
10,06.06.2023,0.00,0,0,12,3,1,inst,NaN,NaN,0.000000,0.000000,0.250000,NaN,95600.0
11,06.06.2023,3.00,6,0,0,0,0,vk,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
12,07.06.2023,8736.00,45135,207,48,3,0,inst,0.004586,0.231884,182.000000,2912.000000,0.062500,42.202899,NaN
13,07.06.2023,3348.00,14508,54,27,12,0,vk,0.003722,0.500000,124.000000,279.000000,0.444444,62.000000,NaN
14,08.06.2023,0.00,0,0,0,0,0,inst,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,08.06.2023,4140.00,13614,36,36,12,1,vk,0.002644,1.000000,115.000000,345.000000,0.333333,115.000000,35200.0
16,09.06.2023,11731.20,64176,294,87,3,1,inst,0.004581,0.295918,134.841379,3910.400000,0.034483,39.902041,34300.0
17,09.06.2023,3729.00,10008,45,27,3,1,vk,0.004496,0.600000,138.111111,1243.000000,0.111111,82.866667,9450.0
18,10.06.2023,11587.20,50244,315,72,33,0,inst,0.006269,0.228571,160.933333,351.127273,0.458333,36.784762,NaN
19,10.06.2023,3642.00,7263,39,24,3,0,vk,0.005370,0.615385,151.750000,1214.000000,0.125000,93.384615,NaN
20,11.06.2023,10056.00,50352,231,69,15,0,inst,0.004588,0.298701,145.739130,670.400000,0.217391,43.532468,NaN
21,11.06.2023,2769.00,5580,30,24,3,0,vk,0.005376,0.800000,115.375000,923.000000,0.125000,92.300000,NaN
22,12.06.2023,9758.40,55068,294,75,24,0,inst,0.005339,0.255102,130.112000,406.600000,0.320000,33.191837,NaN
23,12.06.2023,4247.94,13041,75,15,3,0,vk,0.005751,0.200000,283.196000,1415.980000,0.200000,56.639200,NaN
24,13.06.2023,9372.00,48741,228,42,12,0,inst,0.004678,0.184211,223.142857,781.000000,0.285714,41.105263,NaN
25,13.06.2023,4230.00,25155,51,39,24,1,vk,0.002027,0.764706,108.461538,176.250000,0.615385,82.941176,9450.0
26,14.06.2023,9381.60,46344,210,39,18,0,inst,0.004531,0.185714,240.553846,521.200000,0.461538,44.674286,NaN
27,14.06.2023,5409.00,29847,84,39,15,0,vk,0.002814,0.464286,138.692308,360.600000,0.384615,64.392857,NaN
28,15.06.2023,2913.60,17217,96,15,3,0,inst,0.005576,0.156250,194.240000,971.200000,0.200000,30.350000,NaN
29,15.06.2023,5415.00,28833,102,27,3,0,vk,0.003538,0.264706,200.555556,1805.000000,0.111111,53.088235,NaN
30,16.06.2023,2232.00,7236,69,27,12,0,inst,0.009536,0.391304,82.666667,186.000000,0.444444,32.347826,NaN
31,16.06.2023,5850.06,21000,81,30,3,0,vk,0.003857,0.370370,195.002000,1950.020000,0.100000,72.222963,NaN
32,17.06.2023,6878.40,20661,162,48,21,0,inst,0.007841,0.296296,143.300000,327.542857,0.437500,42.459259,NaN
33,17.06.2023,6111.57,35886,114,42,9,1,vk,0.003177,0.368421,145.513571,679.063333,0.214286,53.610263,14500.0
34,18.06.2023,7329.60,24498,201,75,27,1,inst,0.008205,0.373134,97.728000,271.466667,0.360000,36.465672,59000.0
35,18.06.2023,3486.51,28101,84,42,12,0,vk,0.002989,0.500000,83.012143,290.542500,0.285714,41.506071,NaN
36,19.06.2023,7296.00,25848,153,42,18,0,inst,0.005919,0.274510,173.714286,405.333333,0.428571,47.686275,NaN
37,19.06.2023,2658.57,13131,27,12,3,0,vk,0.002056,0.444444,221.547500,886.190000,0.250000,98.465556,NaN
38,20.06.2023,6837.60,27618,162,66,21,1,inst,0.005866,0.407407,103.600000,325.600000,0.318182,42.207407,19400.0
39,20.06.2023,6256.86,36099,123,30,9,0,vk,0.003407,0.243902,208.562000,695.206667,0.300000,50.868780,NaN
40,21.06.2023,4924.80,20448,105,12,3,0,inst,0.005135,0.114286,410.400000,1641.600000,0.250000,46.902857,NaN
41,21.06.2023,6983.94,36609,108,42,18,1,vk,0.002950,0.388889,166.284286,387.996667,0.428571,64.666111,14500.0
42,22.06.2023,2894.40,10677,54,21,9,0,inst,0.005058,0.388889,137.828571,321.600000,0.428571,53.600000,NaN
43,22.06.2023,6012.09,30027,105,48,18,0,vk,0.003497,0.457143,125.251875,334.005000,0.375000,57.258000,NaN
44,23.06.2023,4701.60,21576,66,15,0,0,inst,0.003059,0.227273,313.440000,NaN,0.000000,71.236364,NaN
45,23.06.2023,7080.00,31791,81,24,0,0,vk,0.002548,0.296296,295.000000,NaN,0.000000,87.407407,NaN
46,24.06.2023,6338.40,27966,123,36,0,0,inst,0.004398,0.292683,176.066667,NaN,0.000000,51.531707,NaN
47,24.06.2023,7171.02,41901,84,24,0,0,vk,0.002005,0.285714,298.792500,NaN,0.000000,85.369286,NaN
48,25.06.2023,6045.60,29130,102,18,0,0,inst,0.003502,0.176471,335.866667,NaN,0.000000,59.270588,NaN
49,25.06.2023,7326.96,46626,120,39,0,0,vk,0.002574,0.325000,187.870769,NaN,0.000000,61.058000,NaN
50,26.06.2023,8687.04,55440,156,39,0,0,vk,0.002814,0.250000,222.744615,NaN,0.000000,55.686154,NaN
51,27.05.2023,5143.20,17052,174,78,0,0,inst,0.010204,0.448276,65.938462,NaN,0.000000,29.558621,NaN
52,28.05.2023,6638.40,25602,171,54,0,0,inst,0.006679,0.315789,122.933333,NaN,0.000000,38.821053,NaN
53,28.05.2023,3267.00,18084,93,27,0,0,vk,0.005143,0.290323,121.000000,NaN,0.000000,35.129032,NaN
54,29.05.2023,12000.00,59340,420,153,0,0,inst,0.007078,0.364286,78.431373,NaN,0.000000,28.571429,NaN
55,29.05.2023,3615.00,22764,60,18,0,1,vk,0.002636,0.300000,200.833333,NaN,0.000000,60.250000,35200.0
56,30.05.2023,12000.00,70803,285,84,21,0,inst,0.004025,0.294737,142.857143,571.428571,0.250000,42.105263,NaN
57,30.05.2023,1692.00,9753,27,9,3,0,vk,0.002768,0.333333,188.000000,564.000000,0.333333,62.666667,NaN
58,31.05.2023,12000.00,59940,348,123,33,0,inst,0.005806,0.353448,97.560976,363.636364,0.268293,34.482759,NaN
59,31.05.2023,1539.00,8412,24,6,6,0,vk,0.002853,0.250000,256.500000,256.500000,1.000000,64.125000,NaN

In [ ]:
df2 = df.groupby('placement').agg({
    'clicks': [
        ('sum_clicks', 'sum'),
        ('mean_clicks', 'mean')
    ],
    'impressions': [
       ('sum_impressions', 'sum'),
       ('mean_impressions', 'mean')
    ],
    'spent': [
        ('spent_daily', 'mean'),
        ('spent_total', 'sum')
    ],
    'leads': [('cnt_leads', 'sum')],
    'qualleads': [('cnt_qual', 'sum')],
    'customers': [('customers_sum', 'sum')],
    'rubs': [('sales', 'sum')]
}).reset_index()

df2.columns = df2.columns.droplevel(0)

In [ ]:
df2

,,sum_clicks,mean_clicks,sum_impressions,mean_impressions,spent_daily,spent_total,cnt_leads,cnt_qual,customers_sum,sales
0,inst,5946,198.2,1116363,37212.1,7502.880,225086.40,1659,426,4,208300.0
1,vk,2115,70.5,668658,22288.6,4402.852,132085.56,816,198,6,118300.0

In [ ]:
df2['mean_crq'] = df2['cnt_qual'] / df2['cnt_leads']
df2['mean_cpql'] = df2['spent_total'] / df2['cnt_qual']
df2['mean_cpl'] = df2['spent_total'] / df2['cnt_leads']
df2['mean_cr1'] = df2['cnt_leads'] / df2['sum_clicks']
df2['mean_cpc'] = df2['spent_total'] / df2['sum_clicks']
df2['cac'] = df2['spent_total'] / df2['customers_sum']
df2['cr2'] = df2['customers_sum'] / df2['cnt_leads']

df2['arpu'] = df2['sales'] / df2['customers_sum']

In [ ]:
df2

,,sum_clicks,mean_clicks,sum_impressions,mean_impressions,spent_daily,spent_total,cnt_leads,cnt_qual,customers_sum,sales,mean_crq,mean_cpql,mean_cpl,mean_cr1,mean_cpc,cac,cr2,arpu
0,inst,5946,198.2,1116363,37212.1,7502.880,225086.40,1659,426,4,208300.0,0.256781,528.371831,135.675949,0.279011,37.855096,56271.60,0.002411,52075.000000
1,vk,2115,70.5,668658,22288.6,4402.852,132085.56,816,198,6,118300.0,0.242647,667.098788,161.869559,0.385816,62.451801,22014.26,0.007353,19716.666667

In [ ]:
df2['profit'] = df2['sales'] - df2['spent_total']

In [ ]:
df2

,,sum_clicks,mean_clicks,sum_impressions,mean_impressions,spent_daily,spent_total,cnt_leads,cnt_qual,customers_sum,sales,mean_crq,mean_cpql,mean_cpl,mean_cr1,mean_cpc,cac,cr2,arpu,profit
0,inst,5946,198.2,1116363,37212.1,7502.880,225086.40,1659,426,4,208300.0,0.256781,528.371831,135.675949,0.279011,37.855096,56271.60,0.002411,52075.000000,-16786.40
1,vk,2115,70.5,668658,22288.6,4402.852,132085.56,816,198,6,118300.0,0.242647,667.098788,161.869559,0.385816,62.451801,22014.26,0.007353,19716.666667,-13785.56

На самом деле, ситуация очень непростая, но по факту вполне себе реальная - редко в жизни встречаются однозначные ответы.

Мы предлагаем на основании проведенного анализа такие рекомендации:

1. Нужно увеличить CR1 в Инстаграме - это позволит снизить стоимость лида, а значит и CAC при тех же конверсиях. Например, изменить текст рекламных объявлений - судя по всему, у людей не сходится ожидание/реальность и они не оставляют заявки на сайте.
2. Нужно снизить CPC в ВК - это также повлияет на снижение CAC. Например, можно попробовать более яркие объявления или другую аудиторию.
3. Бюджет пока можно нигде не увеличивать - слишком все пока шатко.
4. Нужно увеличить CR2 в Инстаграме - за счет этого CAC будет сильно меньше. Для этого внутри воронки нужно усилить прогрев - людям недостаточно мотивации покупать. Также стоит провести кастдев (исследование) людей из Инстаграма - раз на той же воронке люди из ВК покупают нормально, видимо, что-то не так с аудиторией из Инстаграма. Иногда дело может быть в мелочах - люди могут просто не знать, что вы принимаете оплаты из-за рубежа.
5. Нужно увеличить ARPU в ВК - за счет этого прибыль с клиента будет больше. Почему-то люди из ВК не видят для себя ценности покупать более дорогой тариф. Нужно отредактировать воронку - добавить туда сообщений, которые убеждают купить более дорогой тариф. Также можно пообщаться с уже купившими - почему они выбрали дешевый тариф, может быть что-то станет понятно.